     
        
        .search 
            {
  font-family: Roboto, Arial, sans-serif;
  height: 40px;
   flex: 1;
  width: 0;
  margin-right: -4px;
  min-width: 0;
  padding-left: 12px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
}
        
        .search::placeholder{
            padding-left: 3px ;
            height: 26px;
            font-family: Arial, Helvetica, sans-serif;
            border-width: 1px;
            border-color: rgba(183, 183, 185, 0.849);;
            border-style: solid;
            font-size: 16px; 
           
            
           
          
        
            
        }
        .thum {
            width: 100%;
            
        }
        .title {
            font-weight: bold;
            width: 230px;
            margin-bottom: 0px;
            font-size: 15px;
            
        }
        .author {
            color: rgb(97, 95, 95);
            font-size: 13px;
            margin-bottom: 0;
            margin-top: 11px;
        }
        .channel {
            display: inline-block;
          
            margin-top: 12px;
           margin-right: 11px;
            width: 50%;
            
            
        }
    .view {
        color: rgb(97, 95, 95);
        font-size: 13px;
        margin-top: 5px;
    }
    .container {
        display: inline-block;
    }
    .container1 {
        display: inline-block;
    }
    .containable {
        display: inline-block;

    }
    .profile {
        display: inline-block;
        
        width: 40px;
        border-radius: 100px;

    }
    .text {
        display: inline-block;
        
    }
    .video-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 20px;
    }
    @media (max-width: 600px) (
        .grid (
            grid-template-columns: 1fr 1fr 1fr;
        )
    )
   
